body{
  background-color: rgb(43, 43, 43);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  width: 40%;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
}

#game-box{
  background-color: white;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}